In [1]:
%load_ext autoreload
%autoreload 2

In [27]:
from mongodb_downloader import connect_to_mongo_database
from mongodb_downloader import download_collection_to_list_of_dicts
from json_data_parser_funcs import parse_and_process_competitions_dict
from json_data_parser_funcs import parse_and_process_matches_dict
from json_data_parser_funcs import normalize_countries_field_df_competitions

db = connect_to_mongo_database()

matches_collection = db.matches
dicts_list_matches = download_collection_to_list_of_dicts(matches_collection)
matches_tables = parse_and_process_matches_dict(dicts_list_matches)

competitions_collection = db.competitions
dicts_list_competitions = download_collection_to_list_of_dicts(competitions_collection)
competitions_tables = parse_and_process_competitions_dict(dicts_list_competitions)

/home/andrewbasem/files/personal/data_eng_case_study/code/json_data_parser_funcs.py:344: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dframe.drop(columns=['country_name'], inplace=True)
/home/andrewbasem/files/personal/data_eng_case_study/code/json_data_parser_funcs.py:344: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dframe.drop(columns=['country_name'], inplace=True)

In [28]:
df_competitions = competitions_tables['df_competitions']
df_countries = matches_tables['df_countries']

df_competitions = normalize_countries_field_df_competitions(df_competitions, df_countries)
df_competitions

,competition_id,country_name,competition_name,competition_gender,competition_youth,competition_international,country_id
0,16,Europe,Champions League,male,False,False,NaN
1,37,England,FA Women's Super League,female,False,False,68.0
2,43,International,FIFA World Cup,male,False,True,NaN
3,1238,India,Indian Super league,male,False,False,105.0
4,11,Spain,La Liga,male,False,False,214.0
5,49,United States of America,NWSL,female,False,False,241.0
6,2,England,Premier League,male,False,False,68.0
7,55,Europe,UEFA Euro,male,False,True,NaN
8,53,Europe,UEFA Women's Euro,female,False,True,NaN
9,72,International,Women's World Cup,female,False,True,NaN

In [15]:
matches_tables.keys()

dict_keys(['df_matches', 'df_competition_stages', 'df_stadiums', 'df_referees', 'df_team_base_info', 'df_team_managers_matches', 'df_managers_base_data', 'df_countries'])

In [22]:
matches_tables['df_countries'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_id    79 non-null     float64
 1   country_name  79 non-null     object
dtypes: float64(1), object(1)
memory usage: 1.4+ KB

In [14]:
import pandas as pd
from pathlib import Path

from helpful_funcs import read_json_file_to_dict
from json_data_parser_funcs import parse_and_process_competitions_dict
from json_data_parser_funcs import get_competition_season_matches_json_file_paths
from json_data_parser_funcs import read_matches_dicts_from_json_files
from json_data_parser_funcs import parse_and_process_matches_dict

In [44]:
dicts = (read_matches_dicts_from_json_files(get_competition_season_matches_json_file_paths()))
df = parse_and_process_matches_dict(dicts)
df.keys()

/home/andrewbasem/files/personal/data_eng_case_study/code/json_data_parser_funcs.py:250: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f'{prefix}.country.name': 'country_name',
/home/andrewbasem/files/personal/data_eng_case_study/code/json_data_parser_funcs.py:250: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f'{prefix}.country.name': 'country_name',

dict_keys(['df_matches', 'df_competition_stages', 'df_stadiums', 'df_referees', 'df_team_base_info', 'df_team_managers_matches', 'df_managers_base_data', 'df_countries'])

In [53]:
df['df_team_managers_matches'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2625 entries, 0 to 2624
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   match_id    2625 non-null   int64
 1   team_id     2625 non-null   int64
 2   manager_id  2533 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 61.6 KB

In [52]:
parse_and_process_competitions_dict(read_json_file_to_dict(Path().cwd().parent / 'data' / 'competitions.json'))['seasons_df'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   competition_id     43 non-null     int16
 1   season_id          43 non-null     int8
 2   season_start_year  43 non-null     int16
 3   season_end_year    43 non-null     int16
dtypes: int16(3), int8(1)
memory usage: 429.0 bytes

In [40]:
eshta = df['df_matches']
matches = eshta.groupby(['competition_id','season_id']).match_id.unique().reset_index().match_id[0]

from shutil import copy

def copy_file_to_new_dir(file_path, new_dir_path):
    copy(file_path, new_dir_path)

for match in matches:
    print('copying match: ', match)
    file_path = Path('/media/andrewbasem/8AB241FBB241EBEF/personal/data engineering/open-data-master/data/events') / f'{match}.json'
    new_dir_path = Path('/home/andrewbasem/files/personal/data_eng_case_study/data/events')
    copy_file_to_new_dir(file_path, new_dir_path)

copying match:  3749052
copying match:  3749522
copying match:  3749246
copying match:  3749257
copying match:  3749642
copying match:  3749358
copying match:  3749346
copying match:  3749253
copying match:  3749079
copying match:  3749465
copying match:  3749133
copying match:  3749528
copying match:  3749233
copying match:  3749462
copying match:  3749552
copying match:  3749296
copying match:  3749454
copying match:  3749276
copying match:  3749068
copying match:  3749310
copying match:  3749493
copying match:  3749434
copying match:  3749192
copying match:  3749196
copying match:  3749448
copying match:  3749360
copying match:  3749453
copying match:  3749278
copying match:  3749603
copying match:  3749274
copying match:  3749590
copying match:  3749631
copying match:  3749117
copying match:  3749108
copying match:  3749153
copying match:  3749403
copying match:  3749526
copying match:  3749431

In [43]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://andrewbasem:statsbomb_123@statsbomb.znogzta.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [110]:
pd.json_normalize(df['home_team.managers'][0])

,id,name,nickname,dob,country.id,country.name
0,492,Vladimir Petković,None,1963-08-15,28,Bosnia and Herzegovina

In [30]:
parent_path = Path().cwd().parent / "data"

compeition_id = 37
season_id = 42

json_file_path = get_competition_season_matches_json_file_path(competition_id=compeition_id,
                                                                season_id=season_id,
                                                                data_main_dir=parent_path)
parse_and_process_matches_dict(read_json_file_to_dict(json_file_path))

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,competition.competition_id,competition.country_name,competition.competition_name,season.season_id,season.season_name,home_team.home_team_id,home_team.home_team_name,home_team.home_team_gender,home_team.home_team_group,home_team.country.id,home_team.country.name,home_team.managers,away_team.away_team_id,away_team.away_team_name,away_team.away_team_gender,away_team.away_team_group,away_team.country.id,away_team.country.name,away_team.managers,metadata.data_version,metadata.shot_fidelity_version,metadata.xy_fidelity_version,competition_stage.id,competition_stage.name,stadium.id,stadium.name,stadium.country.id,stadium.country.name,referee.id,referee.name,referee.country.id,referee.country.name
0,2275127,2019-10-13,15:00:00.000,3,2,available,scheduled,2022-12-01T11:34:25.814154,2021-06-13T16:17:31.694,4,37,England,FA Women's Super League,42,2019/2020,974,Reading WFC,female,None,68,England,"[{'id': 144, 'name': 'Kelly Chambers', 'nickna...",967,Everton LFC,female,None,68,England,"[{'id': 639, 'name': 'Willie Kirk', 'nickname'...",1.1.0,2,2,1,Regular Season,577,Adams Park,68,England,1509,Alan Dale,68,England
1,2275136,2019-09-07,16:00:00.000,1,0,available,scheduled,2021-05-29T16:47:06.782,2021-06-13T16:17:31.694,1,37,England,FA Women's Super League,42,2019/2020,746,Manchester City WFC,female,None,68,England,"[{'id': 30, 'name': 'Nick Cushing', 'nickname'...",1475,Manchester United,female,None,68,England,"[{'id': 2926, 'name': 'Casey Stoney', 'nicknam...",1.1.0,2,2,1,Regular Season,4715,Etihad Stadium,68,England,566,Rebecca Welch,68,England
2,2275154,2019-11-17,15:00:00.000,1,0,available,scheduled,2021-05-29T17:02:28.194,2021-06-13T16:17:31.694,6,37,England,FA Women's Super League,42,2019/2020,971,Chelsea FCW,female,None,68,England,"[{'id': 152, 'name': 'Emma Hayes', 'nickname':...",1475,Manchester United,female,None,68,England,"[{'id': 2926, 'name': 'Casey Stoney', 'nicknam...",1.1.0,2,2,1,Regular Season,132,Kingsmeadow,68,England,568,Jack Packman,68,England
3,2275150,2019-12-01,16:00:00.000,3,2,available,scheduled,2021-06-01T12:37:46.754,2021-06-13T16:17:31.694,8,37,England,FA Women's Super League,42,2019/2020,972,West Ham United LFC,female,None,68,England,"[{'id': 139, 'name': 'Matt Beard', 'nickname':...",1475,Manchester United,female,None,68,England,"[{'id': 2926, 'name': 'Casey Stoney', 'nicknam...",1.1.0,2,2,1,Regular Season,4062,The Rush Green Stadium,68,England,898,Amy Fearn,68,England
4,2275146,2019-12-08,13:00:00.000,3,1,available,scheduled,2022-12-01T11:45:30.604155,2021-06-13T16:17:31.694,9,37,England,FA Women's Super League,42,2019/2020,1475,Manchester United,female,None,68,England,"[{'id': 2926, 'name': 'Casey Stoney', 'nicknam...",967,Everton LFC,female,None,68,England,"[{'id': 639, 'name': 'Willie Kirk', 'nickname'...",1.1.0,2,2,1,Regular Season,4979,Leigh Sports Village Stadium,68,England,933,Joe Hull,68,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2275120,2019-09-08,15:00:00.000,0,1,available,scheduled,2021-04-27T06:27:03.575947,2021-06-13T16:17:31.694,1,37,England,FA Women's Super League,42,2019/2020,969,Birmingham City WFC,female,None,68,England,"[{'id': 1817, 'name': 'Marta Tejedor', 'nickna...",967,Everton LFC,female,None,68,England,"[{'id': 639, 'name': 'Willie Kirk', 'nickname'...",1.1.0,2,2,1,Regular Season,5332,\tARMCO Arena,68,England,1275,Elliot Swallow,68,England
83,2275028,2019-10-12,15:00:00.000,3,0,available,scheduled,2021-04-27T06:27:03.575966,2021-06-13T16:17:31.694,4,37,England,FA Women's Super League,42,2019/2020,746,Manchester City WFC,female,None,68,England,"[{'id': 30, 'name': 'Nick Cushing', 'nickname'...",969,Birmingham City WFC,female,None,68,England,"[{'id': 1817, 'name': 'Marta Tejedor', 'nickna...",1.1.0,2,2,1,Regular Season,99,Academy Stadium,68,England,567,Helen Conley,68,England
84,2275086,2019-12-08,15:30:00.000,0,3,available,scheduled,2022-12-01T11:46:28.862601,2021-06-13T16:17:31.694,9,37,England,FA Women's Super League,42,2019/2020,974,Reading WFC,female,None,68,England,"[{'id': 144, 'name': 'Kelly Chambers', 'nickna...",968,Arsenal WFC,female,None,68,England,"[{'id': 31, 'name': 'Joseph Montemurro', 'nick...",1.1.0,2,2,1,Regular Season,577,Adams Park,68,England,842,Richard Hulme,68,England
85,2275056,2019-11-17,16:00:00.000,0,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,6,37,England,FA Women's Super League,42,2019/2020,966,Liverpool WFC,female,None,68,England,"[{'id': 623, 'name': 'Victoria Jepson', 'nickn...",967,Everton LFC,female,None,68,England,"[{'id': 639, 'name': 'Willie Kirk', 'nickname'...",1.1.0,2,2,1,Regular Season,6,Anfield,68,England,898,Amy Fearn,68,England
86,2275074,2020-02-12,20:00:00.000,2,0,available,scheduled,2021-04-28T19:48:01.172671,2021-06-13T16:17:31.694,16,37,England,FA Women's Super League,42,2019/2020,971,Chelsea FCW,female,None,68,England,"[{'id': 152, 'name': 'Emma Hayes', 'nickname':...",969,Birmingham City WFC,female,None,68,England,"[{'id': 1817, 'name': 'Marta Tejedor', 'nickna...",1.1.0,2,2,1,Regular Season,132,Kingsmeadow,68,England,915,Rob Whitton,68,England